html {
  font-family: 'Open Sans', 'Roboto', 'Helvetica', 'Arial', sans-serif;
  bottom: 0;
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  font-size: 14px;
  color: #333;
}
body, div, span, p, a, ul, li {
  margin: 0;
  padding: 0;
  bottom: 0;
}
.header {
  height: 100px;
  width: 100%;
  padding-top: 20px;
  margin: 0 auto;
  position: absolute;
  top: 0;
}
.header img {
  height: 100px;
  margin-right: 20px;
}
.header > div {
  margin-left: 51%;
}
.flxBox {
  display: flex;
  margin: 0 auto;
  width: 1000px;
}
.flxBox > div {
  width: 500px;
  height: 700px;
}
.left {
  background-image: url("../imgs/footer.svg"), url("../imgs/contactus.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: center bottom, center top;
  background-size: 1000px 300px, 850px 500px;
  height: auto;
  position: relative;
}
.left img {
  position: absolute;
  width: 200px;
  bottom: 50px;
  left: 50px;
}
.flxBox .right {
  padding-top: 200px;
  padding-left: 40px;
  position: relative;
  height: 500px;
}
.backToHome {
  position: absolute;
  right: 20px;
  bottom: 20px;
  color: #333;
  font-size: 20px;
}
.backToHome img {
  width: 42px;
  height: 42px;
  vertical-align: middle;
  margin-right: 20px;
}
.backToHome span {
  display: inline-block;
  vertical-align: middle;
}
.title {
  font-size: 30px;
  display: block;
  margin-bottom: 40px;
}
.list {
  margin-bottom: 20px;
}
.list a, .list span {
  display: block;
  font-size: 16px;
  text-decoration: none;
  color: #000;
}
.button {
  background: rgba(255, 61, 113, 1);
  display: inline-block;
  border-radius: 5px;
  line-height: 40px;
  height: 40px;
  padding: 0 20px;
  text-decoration: none;
  color: #fff;
}

@media  (max-width: 960px) {
  .header {
    height: 100px;
    width: 100%;
    padding-top: 20px;
    margin: 0 auto;
    position: relative;
    top: 0;
  }
  .header > div {
    margin-left: 20px;
  }
  .header img {
    height: 80px;
    margin-right: 20px;
  }
  .left {
    background-position: center bottom, center top;
    background-size: 800px 200px, 550px 370px;
    height: auto;
  }
  .left img {
    position: absolute;
    width: 200px;
    bottom: 20px;
    left: 20px;
  }
  .flxBox {
    width: 100%;
    display: block;
  }
  .flxBox > div {
    width: 100%;
    height: 500px;
  }
  .flxBox .right {
    padding-left: 0;
    padding-top: 20px;
    padding-bottom: 40px;
    height: auto;
  }

  .flxBox .right > * {
    margin-left: 20px;
  }
  .backToHome {
    right: auto;
    bottom: auto;
    margin-top: 40px;
    margin-left: 40px;
    position: relative;
    display: block;
  }
}