/* Overlay */
#popupContainer {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

/* Popup Content */
#popupContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 500px;
  width: 90%;
  background-color: #FFFFE0;
  padding: 20px; /* Use fixed padding for better readability on small screens */
  text-align: center;
  box-sizing: border-box; /* Ensures padding is included in width calculation */
}

/* Offer Title */
.offerTitle {
  font-size: 24px; /* Use a fixed font size for better readability on small screens */
  color: #8AC7DB;
  margin-bottom: 10px;
}

/* Offer Description */
.offerDescription {
  font-size: 18px; /* Use a fixed font size for better readability on small screens */
  color: #8AC7DB;
  margin-bottom: 20px;
}

/* Close Button */
#closePopup,
#learnMoreButton {
  background-color: #8AC7DB;
  color: #FFFFE0;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-family: 'Arial', sans-serif; /* Specify a font-family */
  display: inline-block;
  margin-top: 10px;
  text-decoration:none
}

/* Learn More Button */
#learnMoreButton {
  display: inline-block;
  margin-top: 10px;
}

/* Image Container */
.imageContainer {
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  #popupContent {
    max-width: 400px;
    padding: 20px;
  }

  .offerTitle {
    font-size: 20px;
    margin-bottom: 8px;
  }

  .offerDescription {
    font-size: 16px;
    margin-bottom: 16px;
  }
}

@media (max-width: 480px) {
  #popupContent {
    max-width: 300px;
    padding: 15px;
  }

  .offerTitle {
    font-size: 18px;
    margin-bottom: 6px;
  }

  .offerDescription {
    font-size: 14px;
    margin-bottom: 12px;
  }
}